/* Style for the Contact page */

/* Style for the logo */
#image1 img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 15%;
    height: 50%;
}

/* Style for the image element */
img {
    width: 100%;
    height: 400px; 
}

/* Style for the nav element */
nav {
    width: 100%;
    overflow: hidden;
    background-color: #22304C;
}

/* Style for the list in navigation */
nav li {
    list-style-type: none;
}

/* Style for the unordered list */
nav ul{
    margin-top: 0px;
    margin:auto;
    margin-left: 0px;
    width:100%;
}

/* Style for the hyperlinks */
nav a{
    float: left;
    color: white;
    text-align: center;
    padding: 8px 35px;
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
    text-decoration: none;
    margin-bottom:5px;
    margin-top:5px;
}

/* Style for the hyperlinks to hover when click */
nav a:hover {
    background-color: darkgray;
    color: black;
}

/* Style for the active */
nav a.active {
    color: white;
}

/* Stlye for the footer area */
footer{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    background-color: #22304C;
    color:White; 
}

/* Style for the paragraph */
footer p{
    margin-top: 5px;
}

/* style for the hyperlinks in the footer  */
footer a{
   line-height: 0em;
   font-weight: bold;
   color:white; 
}
/* style for the main element */
main {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;  
    background-color: #22304C;
    color:White; 
}

/* Style for the wrapper class */
main wrapper{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 550px;
    background: rgba(0,0,0,0.8);
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}
 
/* Style for the h1 */
main .wrapper .title h1{
    color: #c5ecfd;
    text-align: center;
    margin-bottom: 25px;
    margin-top: 0%;
}

/* Style for the form */
.contact-form{
    display: flex;
}

/* Style for the input fields */
.input-fields{
    flex-direction: column;
    margin: auto;
}

/* Style for the class input-fields and msg */
.input-fields,
.msg{
    width: 48%;
}

/* Style for the  input-fields, input and textarea  */
.input-fields .input,
textarea{
  margin: 10px 0;
  background: transparent;
  border: 0px;
  border-bottom: 2px solid #c5ecfd;
  padding: 10px;
  color: #c5ecfd;
  width: 100%;
}

/* Style for the textarea */
textarea{
  height: 100px;
}
  
/* Style for the button */
#btn {
    background:darkgray;
    text-align: center;
    padding: 15px;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    text-transform: uppercase;
    margin-bottom: 10px;
    /* width: 623px; */
}

/* Style for the map */
.map{
    margin: auto;
    margin-left: 100px;
    margin-right: 100px;
}

  
/* media query for Desktop viewport size */
/* changing min-width to  884px  */
@media only screen and (min-width: 900px) {
   
    /* Style for the unordered list */
    nav ul{
        margin-top: 0px;
        margin:auto;
        width:100%;
    }
}


/* media query for Tablet viewport size */
/* changing min-width to  666px  */
@media only screen and (max-width: 768px) {
    
    /* Style for the link in navigation */
    nav a{
        padding: 8px 20px; 
    }

    /* Style for the contact form */
    .contact-form{
        flex-direction: column;
      }
    
    /* Style for the textarea */
    .msg textarea{
        height: 80px;
      }

}

/* media query for Mobile viewport size */
/* changing min-width to  541px  */
@media only screen and (max-width: 425px) {
  
    /* Style for the link in navigation */
    nav li a {
        display: inline-block;
        width:42%;
        margin:auto;
        text-align: left;
    }

    /* Style for the image */
     #container img{
        display: none;
    }

    /* Style for the list */
    li{
        margin-left: 90px;
    }

    /* Style for the map */
    .map{
      width: 300px;
      margin: auto;
    }
}

