/* Style for the Price page */

/* Style for the logo */
#image1 img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 15%;
    height: 50%;
}

/* Style for the image element */
img {
    width: 100%;
    height: 400px; 
}

/* Style for the nav element */
nav{
    width: 100%;
    overflow: hidden;
    background-color: #22304C;
}

/* Style for the list in navigation */
nav li{
    list-style-type: none;
}

/* Style for the unordered list in navigation */
nav ul{
    margin-top: 0px;
    margin:auto;
    margin-left: 0px;
    width:100%;
}

/* Style for the hyperlinks */
nav a{
    float: left;
    color: white;
    text-align: center;
    padding: 8px 35px;
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
    text-decoration: none;
    margin-bottom:5px;
    margin-top:5px;
}

/* Style for the hyperlinks to hover when click */
nav a:hover {
    background-color: darkgray;
    color: black;
}

/* Style for the active */
nav a.active {
    color: white;
}

/* Stlye for the footer area */
footer{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    background-color: #22304C;
    color:White; 
}

/* Style for the paragraph in footer */
footer p{
    margin-top: 5px;
}

/* style for the hyperlinks in the footer  */
footer a{
   line-height: 0em;
   font-weight: bold;
   color:white; 
}

/* style for the main element */
main {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;  
    background-color: #22304C;
    color:White; 
}

/* Style for the table */
table{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    margin: auto;
    border: 1px solid;
    width: 80%;
}

/* Style for the table header */
th{
    font-weight: bold;
    font-size: 20px;
}

/* Style for the table data and table header */
td, th {
    border: 1px solid;
    text-align: center;
    padding: 8px;
}

/* Style for the table row */
tr:nth-child(odd) {
    background-color: #dddddd;
    color: black;
}

/* Style for the table caption */
caption{
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 10px;
}

/* media query for Desktop viewport size */
/* changing min-width to 900px  */
@media only screen and (max-width: 900px) {
    
    /* Style for the unordered list */
    nav ul{
        margin-top: 0px;
        margin:auto;
        width:100%;
    }
}

/* media query for Tablet viewport size */
/* changing min-width to  666px  */
@media only screen and (max-width: 768px) {
    
    /* Style for the links in navigation */
    nav a{
        padding: 8px 20px; 
    }
} 

/* media query for Mobile viewport size */
/* changing min-width to  541px  */
@media only screen and (max-width: 425px) {
    
    /* Style for the links in navidation */
    nav li a {
        display: inline-block;
        width:42%;
        margin:auto;
        text-align: left;
    }

    /* Style for the image */
    #container img{
        display: none;
    }

    /* Style for the list */
    li{
        margin-left: 90px;
    }
}

